{%- import_yaml "dotfiles/defaults.yml" as default_settings %}

{%- set os_family_map = salt['grains.filter_by']({
    'Arch': {
        'default': ''
    },
    'Debian': {
        'default': ''
    },
    'RedHat': {
        'default': ''
    } 
}, grain='os_family', merge=salt['pillar.get']('dotfiles:lookup')) %}

{% do default_settings.dotfiles.update(os_family_map) %}

{% set dotfiles = salt['pillar.get'](
    'dotfiles', 
    default=default_settings['dotfiles'], 
    merge=True) 
%}
