global 
  daemon
  maxconn 256
  nbproc  1
defaults
  log global
  timeout client  5s
  timeout server  50s
  timeout connect 5s
  timeout queue   1000s

listen stats 
  bind {{ config.virtual_ip }}:{{ config.stats_port }}
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /
  acl   home_network src 192.168.1.0/24
  stats admin if home_network

frontend homepage-frontend
  mode tcp
  # Bind with the name 'https' (for stats) and limit tcp-usertimeout to 30s
  bind {{ config.virtual_ip }}:{{ config.web_port }} name https tcp-ut 30s
  option tcplog
  default_backend homepage-backend

backend homepage-backend
  mode tcp
  balance roundrobin 
  option ssl-hello-chk
  {% for svr in config.backend %}
  server {{ svr.name }} {{ svr.address }}
  {% endfor %}
