{%- import_yaml "master/defaults.yml" as default_settings %}

{%- set os_family_map = salt['grains.filter_by']({
    'Arch': {
        'default': ''
    },
    'Debian': {
        'default': ''
    },
    'RedHat': {
        'default': ''
    } 
}, grain='os_family', merge=salt['pillar.get']('master:lookup')) %}

{% do default_settings.master.update(os_family_map) %}

{% set master = salt['pillar.get'](
    'master', 
    default=default_settings['master'], 
    merge=True) 
%}
