{%- import_yaml "system/defaults.yml" as default_settings %}

{%- set os_family_map = salt['grains.filter_by']({
    'Arch': {
        'default': ''
    },
    'Debian': {
        'default': ''
    },
    'RedHat': {
        'default': ''
    } 
}, grain='os_family', merge=salt['pillar.get']('system:lookup')) %}

{% do default_settings.system.update(os_family_map) %}

{% set system = salt['pillar.get'](
    'system', 
    default=default_settings['system'], 
    merge=True) 
%}
